POSTGRES_DB={{ env['PG_DBNAME'] }}
POSTGRES_USER={{ env['PG_USER'] }}
POSTGRES_PASS={{ env['PG_PASSWORD'] }}
PGADMIN_DEFAULT_EMAIL={{ env['PGADMIN_DEFAULT_EMAIL'] }}
PGADMIN_DEFAULT_PASSWORD={{ env['PGADMIN_DEFAULT_PASSWORD'] }}